html {
  height: auto;
  width: fit-content;
}

body {
  height: auto;
  width: fit-content;
  margin: 10px 175px 10px 175px;
  font-family: 'Times New Roman', Times, serif, Arial, Helvetica, sans-serif;
  font-size: 17px;
  background-color: rgba(212, 212, 212, 0.829);
  border: 3px;
}

* {
  color:rgba(0, 0, 0, 0.931);
}

header section aside footer {
  padding: 3px;
}

#masthead {
  height: 200px;
  width: 100%;
  margin-bottom: -132px;
  padding: 12px;
  background: red;
  text-align: center;
}

.masthead-container {
  margin: auto;
  display: inline;
  font-size: 53px;
  color: blue;
}

#hd-logo {
  margin: -9;
  height: 93px;
  width: 74px;
  border-style: outset;
}

.section-container {
  margin-top: -13px;
  margin-bottom: 122px;
  float: left;
  height: 1400px;
  width: 45%;
}

#heading-p {
  width: 947px;
  top: -11px;
  left: 23px;
  text-align: center;
  font-size: 133px;
}

section {
  display: flex;
}

.article-div-1 {
  position: relative;
  height: auto;
  bottom: 176px;
}

article {
  margin: 23px 50px;
  display: inline-flex;
}

#art-div {
  position: relative;
}

.htags {
  margin: 8px;
  font-size: 55px;
}

#p-article {
    display: contents;
    margin: 100px;
    top: 160px;
    font-size: 20px;
}

#lower-ptag {
    width: 1476px;
    font-size: 55px;
    margin: -158px 113px 47px 74px;
}

.clear {
  clear: both;
}

.img-2 {
  height: auto;
  width: auto;
  margin:inherit;
}

#section-bottom-div {
  margin: 4px;
  position: relative;
  top: -27px;
}

.section-p {
  position: absolute;
  margin: 102px;
  bottom: 75px;
  font-size: 17px;
}

aside {
  float: right;
  width: 29%;
  word-wrap: break-word;
  font-size: -webkit-xxx-large;
}

#aside-p {
  margin: 7px;

}

#dropdown-btn {
  margin: 13px;
  height: 96px;
  width: 170px;
  font-size: 35px;
  color: red;
  cursor: pointer;
}

#dropdown {
  height: auto;
  width: auto;
}

#dropdown-links {
  display: none;
  background-color: sandybrown;
}

/* a:hover {
  color: rgb(247, 12, 12);
} */

footer {
  display: flex;
}

.footer-container {
  display: flex;
  font-size: 30px
}

.footer-container-1 {
  margin-left: -10px;
  display: flex;
  font-size: 30px
}

#footer-p {
  margin: 45px 28px;
}


ul {
  margin:15px;
}


.aln-cntr {
  text-align: center;
}
